/*custom font*/

@import url(https://cdn.jsdelivr.net/gh/rastikerdar/vazir-font@v26.0.2/dist/font-face.css);

/*basic reset*/

* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    /*Image only BG fallback*/
    /*background = gradient + image pattern combo*/
    background: linear-gradient(45deg, #a70141, #e08700);
}

body {
    font-family: Vazir, Tahoma, "DejaVu Sans", helvetica, arial, freesans, sans-serif
}


/*form styles*/

#msform {
    width: 50%;
    margin: 50px auto;
    text-align: center;
    position: relative;
}

#msform fieldset {
    background: white;
    border: 0 none;
    border-radius: 3px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
    padding: 20px 30px;
    box-sizing: border-box;
    width: 80%;
    margin: 0 10%;
    /*stacking fieldsets above each other*/
    position: relative;
}


/*Hide all except first fieldset*/

#msform fieldset:not(:first-of-type) {
    display: none;
}


/*inputs*/

#msform input,
#msform textarea {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 7px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    font-family: montserrat;
    color: #2C3E50;
    font-size: 13px;
}


/* Chrome, Safari, Edge, Opera */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


/* Firefox */

input[type=number] {
    -moz-appearance: textfield;
    -webkit-appearance: textfield;
}

input#ver_code {
    text-align: center;
    font-size: 60px !important;
}


/*buttons*/

#msform .action-button {
    width: 100px;
    background: #e05200;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 2px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
}

#msform .action-button:disabled {
    background-color: #ccc;
}

#msform .action-button:active:hover,
#msform .action-button:active:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #e05200;
}


/*headings*/

.fs-title {
    font-size: 15px;
    text-transform: uppercase;
    color: #2C3E50;
    margin-bottom: 10px;
}

.fs-subtitle {
    font-weight: normal;
    font-size: 13px;
    color: #666;
    margin-bottom: 20px;
}

h4.fs-subtitle {
    font-size: 10px;
    margin-top: -15px;
}


/*progressbar*/

#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    /*CSS counters to number the steps*/
    counter-reset: step;
}

#progressbar li {
    list-style-type: none;
    color: white;
    text-transform: uppercase;
    font-size: 15px;
    width: 33.33%;
    float: right;
    position: relative;
}

#progressbar li:before {
    content: counter(step, decimal);
    counter-increment: step;
    width: 40px;
    line-height: 40px;
    display: block;
    font-size: 20px;
    color: #333;
    background: none;
    border: 6px solid white;
    border-radius: 50%;
    margin: 0 auto 5px auto;
}


/*progressbar connectors*/

#progressbar li:after {
    content: '';
    width: 66%;
    height: 6px;
    background: white;
    position: absolute;
    right: -33.33%;
    top: 21.5px;
    z-index: -1;
    /*put it behind the numbers*/
}

#progressbar li:first-child:after {
    /*connector not needed before the first step*/
    content: none;
}


/*marking active/completed steps green*/


/*The number of the step and the connector before it = green*/

#progressbar li.active:before {
    border-color: #59d0ff;
    color: #59d0ff;
}

#progressbar li.active * {
    color: #59d0ff;
}

#progressbar li.active:after {
    color: white;
    background-color: #59d0ff;
}

@-webkit-keyframes fill-proccess {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}

@-moz-keyframes fill-proccess {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}

@keyframes fill-proccess {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}