<!DOCTYPE html>
<html>

<head>
    <title>BSimjoo webpage</title>
    <link rel="stylesheet" href="files/style.css">
    <link rel="icon" href="files/images/icon.png">
    <script src="files/scripts/scripts.js"></script>
    <noscript>
        <link rel="stylesheet" href="files/nonscript-style.css">
    </noscript>
</head>

<body>
    <div class="loading-screen" id="loading-screen">
        <div class="align-center">
            <div class="loader"></div>
            <br> در حال بارگزاری
        </div>

    </div>
    <div id="script-message">
        <h5>This site requires JavaScript. This message will only be visible if you have it disabled. I recommend you to enable javascript to use this web page as well</h5><a href="https://www.google.com/search?q=enabling+javascript">Try searching google for more info</a>
    </div>
    <div class="image-container">
        <img id="image" src="files/images/logo.jpg">
        <div class="overlay title align-end">
            <h1>BSimjoo webpage</h1>
            <h4>Life would be so much eazier if we only had the Source Code</h4>
        </div>
        <div class="overlay align-center">
            <h1>test</h1>
        </div>
    </div>
    <div class="middle-nav">
        <div class="box">
            <a href="#repair">
                <div>
                    <img src="files/images/1057.png">
                    <h1>Repairman</h1>
                    <p>I could repair your computer</p>
                    <p class="readmore">Read more</p>
                </div>
            </a>
            <a href="#developer">
                <div>
                    <img src="files/images/1059.png">
                    <h1>Developer</h1>
                    <p>I'm a progammer!</p>
                    <p>I love programing and I could develop applications as you wish!</p>
                    <p class="readmore">Read more</p>
                </div>
            </a>
            <a href="#electronic">
                <div>
                    <img src="files/images/1074.png">
                    <h1>Electronic engineer</h1>
                    <p>I know some thing about this!</p>
                    <p class="readmore">Read more</p>
                </div>
            </a>
        </div>
    </div>
    <div id="repair" class="postblock right">
        <div>
            <h2>Repairman</h2>
            <p>
                I live with computer. When I was ten my parents bought my first computer and and then my computery life had begin!
            </p>
            <p>
                I was so curious and I started going anywhere and trying anything and any options in coumputer. so I learned how to ruin my computer first! and then tried to fix it so I learned how to fix my computer! later when I was 12, I started being more accurate
                in computer science so I learned much more about computer structures and computer logic and also developing.
            </p>
            <p>I could say I started learning computer by drowning in it!</p>
            <img src="files/images/drowning.jpg">
        </div>
    </div>
    <div id="developer" class="postblock left">
        <div>
            <h2>Developer</h2>
            <p>
                I like creating! after I knew computer, I wanted to creat something in computer, so I guided to developing and programing since I chose university of computer engineering to learn much more of computer science.
            </p>
            <p>
                When I was 14 I started programing from Visual Basic and after a while I started working by Dos-Batch. then I started Bascom-avr, C++, C#, Html and web-programing, java, python. But I have some thing to say about C# and python.
            </p>
            <p>
                I also created so many programs. you can see som of them in <a href="/softwares.html">softwares page</a>.
            </p>
            <img class="icon" src="files/images/bascom-avr-logo.jpg">
            <img class="icon" src="files/images/C++_Logo.png">
            <img class="icon" src="files/images/c-sharp-logo.png">
            <img class="icon" src="files/images/java-logo.png">
            <img class="icon" src="files/images/python-logo.png">
        </div>
    </div>
    <div id="electronic" class="postblock right">
        <div>
            <h2>Electronic engineering</h2>
            <p>
                Befor I know computer I knew electronic science and I tried to learn some thing about it. I started learning by some simple circut and reading some books about electronic element and some basic informations about amper, volt, ohm and ...
            </p>
            <p>
                I should say I know some thing about electronic but not so mutch! I could design basic and some AVR based circuits.
            </p>
            <p>
                But as I said, my major is computer engineering and electronic is a preoccupation.
            </p>
            <img class="icon" src="files/images/circuit-logo.png">
        </div>
    </div>
    <div id="end" class="full">
        <div class="align-center">
            <h1 id="commingsoon">Comming soon...</h1>
        </div>
    </div>
</body>

</html>